@charset "UTF-8";

/* all */
* {
    box-sizing: border-box;
}

/* body */
body {
    line-height: 1.7;
    font-size: 16px;
    font-family: 'M PLUS 1p', sans-serif;
}

/* header */
header {
    display: flex;
}
header nav ul {
    list-style-type: none;
    display: flex;
}

/* footer */

/* main */