@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    line-height: 1.7;
    font-size: 16px;
    font-family: 'M PLUS 1p', sans-serif;
}
body section {
    margin: 30px 0px;
}
body h1 {
    text-align: center;
}
body p {
    margin: 12px 0px;
}
body li:hover {
    text-decoration: underline;
}

/* header */
header {
    display: flex;
}
header .logo {
    background-color: #C0C0C0;
    border-radius: 50%;
}
/* 画像のサイズ調整 */
header nav ul {
    list-style-type: none;
    display: flex;
}

/* footer */
footer {
    background-color: #000;
    color: #fffaf0;
}
footer p {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0px;
}

/* main */
.inner {
    width: 80%;
    margin: 0 auto;
}
table {
    border: solid 2px #000;
    background-color: #f0f0f0;
    width: 100%;
    margin: auto;
    text-align: left;
    border-spacing: 6px;
    /* #TODO: 枠線 */
    /* #TODO: 罫線 */
    /* #TODO: 横幅を`2:1`にする table-layoutを使えば良さそう */
    /* #TODO: thead部分の上下余白を大きくする border-spacing */
}
table thead,
table tbody tr th {
    font-weight: bold;
}
table thead {
    font-size: large;
}
table thead [scope="row"] {
    color: orange;
}
table tbody tr th {
    color: gray;
}